@import "../_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat&family=PT+Sans&display=swap");

.default-resume {
  display: flex;
  background-color: #1d2a42;
  border-radius: 0.5em;
  padding: 0 0.5em;
  font-size: 11px;
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;

  .left-content {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 1em 2em;
    color: $white;

    h4,
    h6 {
      margin-top: 0;
      color: $white;
    }

    .img-responsive {
      align-self: center;
      width: 15em;
      height: 15em;
      border: 1px solid #ffcc00;
      border-radius: 50%;
      margin-top: 1em;
      margin-bottom: 0.8em;
    }

    .summary-header {
      align-self: center;

      .text-name {
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        font-family: "League Spartan", sans-serif;
      }

      .text-job {
        font-style: italic;
        text-align: center;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
      }

      .text-summary {
        text-align: justify;
        margin: 1em 0;
      }
    }

    .left-section {
      .title {
        border-left: 3px solid #ffcc00;
        padding-left: 0.4em;
        margin-bottom: 0.3em;
        font-size: 16px;
        font-family: "League Spartan", sans-serif;
      }

      ul {
        text-decoration: none;
        padding-left: 0.5em;

        li {
          display: flex;
          align-items: baseline;
          list-style: none;

          i {
            margin-right: 0.8em;
            color: #ffcc00;
          }

          .circle-level {
            margin-left: 0.8em;
            background-color: $white;
            width: 1em;
            height: 1em;
            border-radius: 50%;

            &.green {
              background-color: #ffcc00;
            }
          }

          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .right-content {
    display: flex;
    flex-direction: column;
    width: 53%;
    background-color: $white;

    .right-section {
      .cover-div {
        position: relative;
        top: 10px;
        left: -1em;
        background-color: #ffcc00;

        .title {
          padding: 0.2em 1.5em;
          text-transform: uppercase;
          font-size: 14px;
          font-family: "League Spartan", sans-serif;
          font-weight: 900;
        }
      }

      .experience-infos,
      .formation-infos {
        padding: 0 2em;
        h6 {
          color: #9f8415;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 13px;
          margin-top: 20px;
          margin-bottom: 0;
          font-family: "Montserrat", sans-serif;
        }
        p {
          color: #000;
          font-style: italic;
          font-weight: bold;
          margin-bottom: 0;
          line-height: 1.8em;
        }
      }
      .experience-description {
        line-height: 1.8em;
        p,
        h6 {
          color: $text-color;
          font-style: normal;
          font-weight: normal;
        }
      }
    }
  }
}
