$bg-color: transparent !default;
$bg-gray: #f6f9fc !default;
$bg-gray-opacity: #f6f9fc96 !default;
$bg-opacity: #00000083 !default;
$bg-black: #222 !default;
$text-color: #425466 !default;
$red: #ec5454 !default;
$white: #fff !default;
$blue: #347cb4 !default;
$dark-blue: #22577e !default;
$green: #4cac34 !default;
$black-shadow: rgba(0, 0, 0, 0.3) !default;
$yellow: rgb(184, 184, 22);
$violet: rgb(16, 16, 48);
